body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input,
button {
  font-family: inherit;
  padding: 10px;
  font-size: 14px;
}

button {
  border: none;
  background-color: rgb(0, 116, 14);
  color: white;
  margin: 20px 0;
  border-radius: 2px;
}

label {
  display: inline-block; /* remember this! */
  width: 100px;
}

input {
  display: inline-block;
  width: 90px;
}

.form_group {
  margin: 10px 0;
}
